extends layout

mixin introductionCard
  .card.book-page-container.card-shadow
    .card-body
      h1.card-title.google-font.text-center Introduction
      hr
      p.text-center= book.introduction
    .card-page-footer.text-muted.text-center
      p 0

block content
  .container
    h1.google-font= book.title
    .row
      .col-12
        i.fas.fa-users.text-warning
        |
        |
        span by
          |
          |
          a(href='/user/' + book.owner.id)= book.owner.name
          |
          | and
          |
          a(href='/user/' + book.collaborator.id)= book.collaborator.name
        h6.text-muted.mt-2 Book created on #{h.moment(book.createdDate).format('MMMM Do YYYY, h:mm:ss a')}
    if user
      unless user.id === book.owner.id || user.id === book.activeWriter.id
      hr
      .row
        .col-6
          if user && user.id === book.owner.id
            a.btn.btn-sm.btn-outline-dark.mb-3(id='slideToggle' href='#', role='button')
              i.fas.fa-cog
            #expandable-div
              ul.fa-ul.mt-2
                li
                  span.fa-li
                    i.fas.fa-exchange-alt
                  a(href='/book/' + book.id + '/switch-writer') Switch writer to #{book.activeWriter.id === book.owner.id ? book.collaborator.name : book.owner.name}
                li
                  span.fa-li
                    i.fas.fa-trash-alt.text-danger
                  a.text-danger(href='/', data-toggle="modal", data-target="#confirm-delete-modal") Delete book
              #confirm-delete-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden-'true')
                .modal-dialog.modal-dialog-centered(role='document')
                  .modal-content
                    form(action='/book/' + book.id + '/delete', method='post')
                      .modal-body
                        p.text-center Are you sure that you want to remove this book?
                        p.text-center To permanently remove your book, please enter:
                        h6#confirm-delete-slug.text-center
                          strong= h.slug(book.title, {lower: true})
                        p.text-center in the box below and press confirm.
                        .form-group
                          input#confirm-delete-input.form-control.text-center(type='text', name='inputConfirmation')
                          small#emailHelp.form-text.text-muted.text-center This action cannot be undone
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-danger(type='submit') Confirm
        .col-6.text-right
          if user && user.id === book.activeWriter.id
            a.btn.btn-success.mb-4(href='/book/' + book.id + '/addPassage', role='button')
              i.fas.fa-plus
              |
              | Write a new passage
    if viewingIntroduction
      +introductionCard
    else
      if currentPassages[0]
        .card-group
          .card.book-page-container.card-shadow
            .card-body
              p!= currentPassages[0].body
            .card-page-footer.text-muted.text-center
              p= currentPage * 2 - 1
          .card.book-page-container.card-shadow
            .card-body
              if currentPassages[1]
                p!= currentPassages[1].body
            .card-page-footer.text-muted.text-center
              p= currentPage * 2
      else
        hr
        h5.text-center
          em
            strong Nothing has been written in this book :(
        hr
    nav.mb-5.mt-4
      ul.pagination.pagination-sm.justify-content-center
        if viewingIntroduction
          li.page-item.active.mr-1
            a.page-link(href='/book/' + book.id + '/introduction') Introduction
        else
          li.page-item.mr-1
            a.page-link(href='/book/' + book.id + '/introduction') Introduction
        if totalBookPages > 0
          if currentPage > 1
            li.page-item
              a.page-link(href='/book/' + book.id + '/1') First
          else
            li.page-item.disabled
              a.page-link(href='/book/' + book.id + '/1') First
          if currentPage > 4
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + (currentPage - 4))= String(((currentPage - 4) * 2 - 1) + '-' + (currentPage - 4) * 2)
          if currentPage > 3
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + (currentPage - 3))= String(((currentPage - 3) * 2 - 1) + '-' + (currentPage - 3) * 2)
          if currentPage > 2
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + (currentPage - 2))= String(((currentPage - 2) * 2 - 1) + '-' + (currentPage - 2) * 2)
          if currentPage > 1
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + (currentPage - 1))= String(((currentPage - 1) * 2 - 1) + '-' + (currentPage - 1) * 2)
          if !viewingIntroduction
            li.page-item.active
              a.page-link(href=href = '/book/' + book.id + '/' + currentPage)= String((currentPage * 2 - 1) + '-' + (currentPage * 2))
          else
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + currentPage)= String((currentPage * 2 - 1) + '-' + (currentPage * 2))
          unless currentPage === totalBookPages
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + (currentPage + 1))= String((currentPage * 2 + 1) + '-' + (currentPage + 1) * 2)
          if totalBookPages > (currentPage + 1)
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + (currentPage + 2))= String(((currentPage + 2) * 2 - 1) + '-' + (currentPage + 2) * 2)
          if totalBookPages > (currentPage + 2)
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + (currentPage + 3))= String(((currentPage + 3) * 2 - 1) + '-' + (currentPage + 3) * 2)
          if totalBookPages > (currentPage + 3)
            li.page-item
              a.page-link(href=href = '/book/' + book.id + '/' + (currentPage + 4))= String(((currentPage + 4) * 2 - 1) + '-' + (currentPage + 4) * 2)
          //- Why is it not?
          unless currentPage === totalBookPages && !viewingIntroduction
            li.page-item
              a.page-link(href='/book/' + book.id + '/' + totalBookPages) Last
          if currentPage === totalBookPages && !viewingIntroduction
            li.page-item.disabled
              a.page-link(href='/book/' + book.id + '/' + totalBookPages) Last
