extends layout

block content
	.container
		h1.google-font= book.title
		.row
			.col-12
				h6 A book by #{book.owner.name} and #{book.collaborator.name}
				h6.text-muted Created on #{h.moment(book.createdDate).format('MMMM Do YYYY, h:mm:ss a')}
				if user.id === book.owner.id
					a.btn.btn-sm.btn-outline-secondary.btn-block.col-1(id='slideToggle' href='#', role='button') Tools
					#expandable-div
						button.btn.btn-sm.btn-warning.mt-3.mr-3(onclick=`window.location="${book.id}/switch-writer";`) Switch writer to #{book.activeWriter.id === book.owner.id ? book.collaborator.name : book.owner.name}
						button.btn.btn-sm.btn-danger.mt-3 Delete book
		hr
		h4 Introduction
		p= book.introduction
		hr
		//Todo: Is this correct way of checking for if user is logged in?
		if user && user.id === book.activeWriter.id
			form(action='/book/' + book.id, method='post')
				label(for='bodyInput') Write a passage
				textarea#bodyInput.u-full-width(name='bodyInput')
				button.button-primary(type='submit') Add passage
		each passage in passages
			p= passage.body
			hr
