extends layout

block content
  h1= book.title
  ul
    li Created on #{h.moment(book.createdDate).format('MMMM Do YYYY, h:mm:ss a')}
    li Owner:&nbsp;
      a(href='/user/' + book.owner.id)
        strong #{book.owner.name}
    li Collaborator:&nbsp;
      a(href='/user/' + book.collaborator.id)
        strong #{book.collaborator.name}
    li Completed:
      if book.completed
        strong &nbsp;Yes
      else
        strong &nbsp;No
    li Published:
      if book.public
        strong &nbsp;Yes
      else
        td &nbsp;No
  hr
  h4 Introduction
  p= book.introduction
  hr
  form(action='/book/' + book.id, method='post')
    label(for='bodyInput') Write a passage
    textarea#bodyInput.u-full-width(name='bodyInput')
    button.button-primary(type='submit') Add passage
  each passage in passages
    p= passage.body
    hr