extends layout

mixin bookCard(book)
  .card.mb-3.border-dark.text-center.card-shadow
    .card-header.bg-light
      h3.head-font
        a#main-book-page-link(href='/book/' + book.id)= book.title
      if book.owner.id === user.id
        span With:
          |
          |
          a(href='/user/' + book.collaborator.id)= book.collaborator.name
      if book.collaborator.id === user.id
        span With:
          |
          |
          a(href='/user/' + book.owner.id)= book.owner.name
    ul.list-group.list-group-flush
      li.list-group-item.pb-3.pt-3
        if book.activeWriter.id === user.id
          p.card-text Next writer: You!
            |
            |
            i.heartbeat.fas.fa-star.text-success
        p.card-text.text-muted Last updated: #{h.moment(book.lastPassageStamp).calendar()}
        p.card-text.text-muted Pages written: #{book.passages.length}

mixin blankBookCard(book)
  .card.mb-3.border-dark.text-center.card-shadow
    .card-header.bg-light
      h3.head-font
        a#main-book-page-link(href='/book/' + book.id)= book.title
      if book.owner.id === user.id
        span With:
          |
          |
          a(href='/user/' + book.collaborator.id)= book.collaborator.name
      if book.collaborator.id === user.id
        span With:
          |
          |
          a(href='/user/' + book.owner.id)= book.owner.name
    .card-body
      if book.activeWriter.id === user.id
        p.card-text Next writer: You!
          |
          |
          i.heartbeat.fas.fa-star.text-success
      else
        p.card-text Next writer:
          |
          |
          span= book.activeWriter.name

mixin followedBookCard(book)
  .card.mb-3.border-dark.text-center.card-shadow
    .card-header.bg-light
      h3.head-font
        a#main-book-page-link(href='/book/' + book.id)= book.title
      span Authors:
        |
        |
        a(href='/user/' + book.owner.id)= book.owner.name
        |
        |
        span &
        |
        |
        a(href='/user/' + book.collaborator.id)= book.collaborator.name
    ul.list-group.list-group-flush
      li.list-group-item
        p.card-text.text-muted Last updated: #{h.moment(book.lastPassageStamp).calendar()}
        p.card-text.text-muted Pages written: #{book.passages.length}

block content
  .container
    #nav-field
      button.btn.btn-lg.btn-success.mt-3.body-font(onclick='window.location="/create-book/find-collaborator";')
        i.fas.fa-plus
        |
        | New book
    section
      if booksByUser.length > 0
        if booksByUser.length === 1
          h2.body-font.text-center.mt-3 Your latest book
          hr.hr-gradient
        else
          h2.body-font.text-center.mt-3 Your latest books
          hr.hr-gradient
        .row.justify-content-center
          each book in booksByUser
            .col-xl-4.col-md-6
              +bookCard(book)
    section
      if booksNotStarted.length > 0
        if booksNotStarted.length === 1
          h2.body-font.text-center.mt-3 Blank book
          hr.hr-gradient
        else
          h2.body-font.text-center.mt-3 Blank books
          hr.hr-gradient
        .row.justify-content-center
          each book in booksNotStarted
            .col-xl-4.col-md-6
              +blankBookCard(book)
    section
      if followedUserBooks.length > 0
        if followedUserBooks.length === 1
          h2.body-font.text-center.mt-3 Book by people you are following
          hr.hr-gradient
        else
          h2.body-font.text-center.mt-3 Books by people you are following
          hr.hr-gradient
        .row.justify-content-center
          each book in followedUserBooks
            .col-xl-4.col-md-6
              +followedBookCard(book)