extends layout

block content

  mixin bookCard(book)
    .card.mb-3.card-shadow
      h5.card-header.bg-light
        a.link-primary(href='/book/' + book.id)= book.title
      .card-body
        - var shortenedIntroduction = book.introduction.length > 100 ? book.introduction.substring(0,100) + '...' : book.introduction
        p.card-text.text-muted= shortenedIntroduction
      ul.list-group.list-group-flush
        li.list-group-item
          a(href='/user/' + book.owner.id)= book.owner.name
          if book.owner.id === book.activeWriter.id
            span &nbsp;
            i.fas.fa-pencil-alt.text-success
        li.list-group-item
          a(href='/user/' + book.collaborator.id)= book.collaborator.name
          if book.collaborator.id === book.activeWriter.id
            span &nbsp;
            i.fas.fa-pencil-alt.text-success
        li.list-group-item.small.text-muted= `Created ${h.moment(book.createdDate).calendar()}`

    //.card.mb-3
    //  .card-body
    //    h5.card-title
    //      a.link-primary(href='/book/' + book.id)= book.title
    //    - var shortenedIntroduction = book.introduction.length > 100 ? book.introduction.substring(0,100) + '...' : book.introduction
    //    p.card-text.text-muted= shortenedIntroduction
    //  ul.list-group.list-group-flush
    //    li.list-group-item
    //      i.fas.fa-star.text-warning
    //      span &nbsp;
    //      a(href='/user/' + book.owner.id)= book.owner.name
    //    li.list-group-item
    //      i.fas.fa-user-plus.text-warning
    //      span &nbsp;
    //      a(href='/user/' + book.collaborator.id)= book.collaborator.name
    //    li.list-group-item.small.text-muted= `Created ${h.moment(book.createdDate).calendar()}`

  .container
    #nav-field.mb-5
      button.btn.btn-lg.btn-warning(onclick='window.location="/create-book";')
        i.fas.fa-book
        | &nbsp;
        | Create new book
    h3.google-font Your books
    .row
      each book in allUserBooks
        .col-3
          + bookCard(book)
    .row
    h3.google-font All public books
    table.table
      thead
        tr
          th(scope='col') Book title
          th(scope='col') Owner
          th(scope='col') Collaborator
          th(scope='col') Created
          th(scope='col') Published/Private
          th(scope='col') Completed
      tbody
        each book in allPublicBooks
          tr
            th(scope='row')
              a(href='/book/' + book.id)= book.title
            td
              a(href='/user/' + book.owner.id)= book.owner.name
            td
              a(href='/user/' + book.collaborator.id)= book.collaborator.name
            td= h.moment(book.createdDate).calendar()
            if book.public
              td Published
            else
              td Private
            if book.completed
              td Yes
            else
              td No