extends layout

mixin bookCard(book)
  .card.mb-3.text-center.card-shadow
    h4.card-header.head-font.bg-dark
      a.text-warning(href='/book/' + book.id)= book.title
    .card-body.bg-light
      span Authors:
        |
        |
        a(href='/user/' + book.owner.id)= book.owner.name
        |
        |
        span &
        |
        |
        a(href='/user/' + book.collaborator.id)= book.collaborator.name
    .card-body
      p.card-text.text-muted Last updated: #{h.moment(book.lastPassageStamp).calendar()}
      p.card-text.text-muted Pages written: #{book.passages.length}

block content
  .container
    .row
      .col.text-center
        h1= viewedUser.name
        small.text-muted.d-block Id:
          |
          |
          = viewedUser.id
        if viewedUser.publicEmail
          strong.d-block.mt-3 E-mail:
            |
            |
            a(href='mailto:' + viewedUser.email)= viewedUser.email
    hr.hr-gradient-center
    if user && user.id !== viewedUser.id
      .row
        .col.text-center
          a.btn.btn-success.btn-sm.my-1(href=`/create-book/${viewedUser.id}`) Create a book with this user
    .row
      .col-lg-6.text-center
        figure.figure
          img.figure-img.img-fluid.rounded(src=viewedUser.gravatar, alt='User Avatar')
          if user && user.id === viewedUser.id
            a.btn.btn-info.my-3.d-block(href='/', data-toggle="modal", data-target="#profile-settings-modal") Profile settings
          if user && user.id !== viewedUser.id
            if followsUser
              form(action="/user/unfollow-user" method="post")
                input(name='targetUserId', type='hidden', value=viewedUser.id)
                button.btn.btn-warning.mb-3.d-block(type='submit') Unfollow #{viewedUser.name}
                  |
                  |
                  i.fas.fa-eye-slash
            else
              form(action="/user/follow-user" method="post")
                input(name='targetUserId', type='hidden', value=viewedUser.id)
                button.btn.btn-success.mb-3.d-block(type='submit') Follow #{viewedUser.name}
                  |
                  |
                  i.fas.fa-eye
        if user && user.id === viewedUser.id
          #profile-settings-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden-'true')
            .modal-dialog.modal-lg.modal-dialog-centered(role='document')
              .modal-content
                .modal-body.bg-dark
                  h2.text-warning Profile settings
                .modal-body.bg-light
                  .row.border-between
                    .col-md-6
                      h3.mb-3 Profile picture
                      p Your profile picture is connected to your email address and grabbed from
                        |
                        |
                        a(href='http://www.gravatar.com', target="_blank") Gravatar.com
                        | .
                      p You can easily go there and change your profile picture.
                    .col-md-6
                      if (viewedUser.publicEmail)
                        hr.d-md-none
                        h3.mb-3 Privacy
                        p Your email is currently visible to all users.
                        p If you want, you can hide your email from everyone visiting your profile page.
                        a.btn.btn-sm.btn-outline-secondary(href='/user/' + viewedUser.id + '/switch-email-visibility') Hide my email
                      else
                        hr.d-md-none
                        h3.mb-3 Privacy
                        p Your email is currently hidden from other users.
                        p If you want, you can make it visible to anyone on your profile page.
                        a.btn.btn-sm.btn-outline-secondary(href='/user/' + viewedUser.id + '/switch-email-visibility') Make email visible
                  hr
                  .row
                    .col
                      if user && user.id === viewedUser.id
                        if user.openForSuggestion
                          h3.mb-3 Suggestions
                          p.lead.text-success You are currently available
                          p You are currently open for suggestions in collaborative writing.
                          p Other writers will be able to find you through the suggestions page.
                          form(action='/user/' + user.id + '/update-suggestion', method='post')
                            input(name='openForSuggestion', type='hidden', value='true')
                            button.btn.btn-danger.btn-sm(type='submit') Set incognito
                        else
                          h3.mb-3 Suggestions
                          p.lead.text-danger You are currently not available
                          p You are currently not available for suggestions in collaborative writing.
                          p If you want other writers to be able to find you through the suggestions page, turn this on here.
                          form(action='/user/' + user.id + '/update-suggestion', method='post')
                            input(name='openForSuggestion', type='hidden', value='false')
                            button.btn.btn-success.btn-sm(type='submit') Set available
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
      .col-lg-6.text-center
        if viewedUser.bio
          h3 Biography
          p= viewedUser.bio
        if !viewedUser.bio && user.id === viewedUser.id
          p.text-muted You have not written a biography
        if user && viewedUser.id === user.id
          a.text-info.my-3(href='/', data-toggle="modal", data-target="#update-bio-modal") Update biography
            |
            |
            i.fas.fa-pencil-alt
          #update-bio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden-'true')
            .modal-dialog.modal-lg.modal-dialog-centered(role='document')
              .modal-content
                form(action='/user/' + viewedUser.id + '/update-bio', method='post')
                  .modal-body
                    h3.text-center Update biography
                    .form-group
                      textarea#bioInput.form-control(name='bioInput', rows=10)= viewedUser.bio
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit') Submit
    if booksByUser.length > 0
      if booksByUser.length === 1
        hr
        h4.body-font.my-3.text-center.text-sm-left Public book by #{viewedUser.name}
        .row
          each book in booksByUser
            .col-xl-4.col-md-6
              +bookCard(book)
      else
        hr
        h4.body-font.my-3.text-center.text-sm-left Public books by #{viewedUser.name}
        .row
          each book in booksByUser
            .col-xl-4.col-md-6
              +bookCard(book)