extends layout

block content
  table.u-full-width
    thead
      tr
        th Name
        th Email
        th Active
    tbody
      tr
        td= viewedUser.name
        td= viewedUser.email
        td= viewedUser.active
  p= viewedUser.password
  p Bio: #{viewedUser.bio}
  hr
  form(action='/user/' + viewedUser.id , method='post')
    label(for='bioInput') Biography
    em Please tell us something about you
    textarea#bioInput.u-full-width(name='bioInput')= viewedUser.bio
    button.button-primary(type='submit') Update Profile