extends layout

mixin bookCard(book)
  .card.mb-3.text-center.card-shadow
    h4.card-header.head-font.bg-dark
      a.text-warning(href='/book/' + book.id)= book.title
    .card-body.bg-light
      span Authors:
        |
        |
        a(href='/user/' + book.owner.id)= book.owner.name
        |
        |
        span &
        |
        |
        a(href='/user/' + book.collaborator.id)= book.collaborator.name
    .card-body
      p.card-text.text-muted Last updated: #{h.moment(book.lastPassageStamp).calendar()}
      p.card-text.text-muted Pages written: #{book.passages.length}

block content
  .container
    .row
      .col.text-center
        h1= viewedUser.name
        small.text-muted Id:
          |
          |
          = viewedUser.id
    hr.hr-gradient-center
    .row
      .col-lg-6.text-center
        figure.figure
          img.figure-img.img-fluid.rounded(src=viewedUser.gravatar, alt='User Avatar')
          if user && user.id === viewedUser.id
            figcaption.figure-caption.text-center Your profile picture is grabbed from
              |
              |
              a(href='http://www.gravatar.com') Gravatar.com
              | .
          if user && user.id !== viewedUser.id
            unless followsUser
              a.btn.btn-success.mb-3.d-block(href='/user/' + viewedUser.id + '/follow-user') Follow #{viewedUser.name}
                |
                |
                i.fas.fa-eye
            else
              a.btn.btn-warning.mb-3.d-block(href='/user/' + viewedUser.id + '/unfollow-user') Unfollow #{viewedUser.name}
                |
                |
                i.fas.fa-eye-slash
      .col-lg-6.text-center
        if viewedUser.bio
          h3 Biography
          p= viewedUser.bio
        if user && viewedUser.id === user.id
          a.btn.btn-success.btn-sm.my-3(href='/', data-toggle="modal", data-target="#update-bio-modal") Update biography
            |
            |
            i.fas.fa-pencil-alt
          #update-bio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden-'true')
            .modal-dialog.modal-lg.modal-dialog-centered(role='document')
              .modal-content
                form(action='/user/' + viewedUser.id + '/update-bio', method='post')
                  .modal-body
                    h3.text-center Update biography
                    .form-group
                      textarea#bioInput.form-control(name='bioInput', rows=10)= viewedUser.bio
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit') Submit
    if booksByUser.length > 0
      if booksByUser.length === 1
        h4.body-font.mt-3.text-center.text-sm-left Public book by #{viewedUser.name}
        hr
        .row
          each book in booksByUser
            .col-xl-4.col-md-6
              +bookCard(book)
      else
        h4.body-font.mt-3.text-center.text-sm-left Public books by #{viewedUser.name}
        hr
        .row
          each book in booksByUser
            .col-xl-4.col-md-6
              +bookCard(book)