extends layout

mixin bookCard(book)
  .card.border-dark.text-center
    .card-header.bg-light
      h3.head-font
        a#main-book-page-link(href='/book/' + book.id)= book.title
      span Authors:
        |
        |
        a(href='/user/' + book.owner.id)= book.owner.name
        |
        |
        span &
        |
        |
        a(href='/user/' + book.collaborator.id)= book.collaborator.name
    ul.list-group.list-group-flush
      li.list-group-item
        p.card-text.text-muted Last updated: #{h.moment(book.lastPassageStamp).calendar()}
        p.card-text.text-muted Pages written: #{book.passages.length}

block content
  .container
    .row
      .col.text-center
        h1= viewedUser.name
    hr.hr-gradient
    .row
      .col-lg-6.text-center
        img.img-fluid.img-thumbnail.d-block.mx-auto.mb-3(src=viewedUser.gravatar, alt='User Avatar')
        if user && user.id !== viewedUser.id
          unless followsUser
            p You are not following #{viewedUser.name}
            a.btn.btn-success(href='/user/' + viewedUser.id + '/follow-user') Follow #{viewedUser.name}
              |
              |
              i.fas.fa-eye
          else
            p.text-success
              strong You are following #{viewedUser.name}
            a.btn.btn-danger(href='/user/' + viewedUser.id + '/unfollow-user') Unfollow #{viewedUser.name}
              |
              |
              i.fas.fa-eye-slash
      .col-lg-6.text-center
        if viewedUser.bio
          h3 Biography
          p= viewedUser.bio
        else
          p.text-muted #{viewedUser.name} hasn't written an biography.
        if user && viewedUser.id === user.id
          a.btn.btn-success.btn-sm(href='/', data-toggle="modal", data-target="#update-bio-modal") Update biography
            |
            |
            i.fas.fa-pencil-alt
          #update-bio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden-'true')
            .modal-dialog.modal-lg.modal-dialog-centered(role='document')
              .modal-content
                form(action='/user/' + viewedUser.id + '/update-bio', method='post')
                  .modal-body
                    h3.text-center Update biography
                    .form-group
                      textarea#bioInput.form-control(name='bioInput', rows=10)= viewedUser.bio
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-success(type='submit') Submit
    hr.hr-gradient
    .row
      .col
        if booksByUser.length > 0
          if booksByUser === 1
            h3 Public book by #{viewedUser.name}
          else
            h3 Public books by #{viewedUser.name}
          .row
              each book in booksByUser
                .col-6
                  +bookCard(book)
    if booksByUser.length > 0
      hr
      if booksByUser === 1
        h3 Public book by #{viewedUser.name}
      else
        h3 Public books by #{viewedUser.name}
      .row
        each book in booksByUser
          .col-6
            .card
              .card-body
                h5.card-title
                  a(href='/book/' + book.id)= book.title
                hr
                p#author-text Authors:
                  |
                  |
                  a(href='/user/' + book.owner.id)= book.owner.name
                  |
                  | &
                  |
                  a(href='/user/' + book.collaborator.id)= book.collaborator.name
                p.text-muted.mt-2 Created #{h.moment(book.createdDate).format('MMMM Do YYYY')}